@media (min-width: 768px) {

  #menuBtn {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    gap: 2rem;
  }

  nav a {
    padding: 1rem 0;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
